<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    verbose="true"
    colors="true"
>
    <testsuites>
        <testsuite name="Rodin REST API Test Suite">
            <directory suffix=".php">./test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>